html, body {
  margin: 0;
  padding: 0;
  background-color: indigo;
  cursor:none;
}

canvas {
  display: block;
}

#sketch-holder {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
}

#sketch-holder * {
  position: fixed;
  /* left: 0;
  top: 0; */
}

canvas {
  position: fixed;
  border-radius: 50%;
  border: 2px ridge darkblue;
  transform: translate(-50%, -50%);
  width:100px;
  height:100px;
  /* left: 0;
  top: 0; */
}
