html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#sketch-holder {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
}

#sketch-holder * {
  position: fixed;
  /* transform: translate(-100%, -100%); */
  /* left: 0;
  top: 0; */
}